<app-toast [message]="toast.message"></app-toast>

<div class="card" *ngIf="project">
  <h4 class="card-header">{{ project._id ? "Edit project" : "Add new project" }}</h4>
  <div class="card-block">
    <form #form="ngForm">
      <div class="form-group row">
        <label for="name" class="col-2 col-form-label">Name:</label>
        <div class="col-10">
          <input class="form-control" type="text" id="name" name="name" [(ngModel)]="project.name" placeholder="Name">
        </div>
      </div>

      <div class="navigation-panel">
        <button class="card-link fa fa-chevron-left" (click)="previousSlide()" [disabled]="slide_id <= 0"></button>
        <b>{{ slide_id + 1 }}</b>
        <button class="card-link fa fa-chevron-right" (click)="nextSlide()" [disabled]="project.content && slide_id >= project.content.length - 1"></button>
        <button class="card-link fa fa-plus" (click)="addSlide()"></button>
      </div>

      <div class="form-group row" *ngIf="project.content && project.content[slide_id]">
        <label for="description" class="col-2 col-form-label">Description:</label>
        <div class="col-10">
          <textarea class="form-control" id="description" name="description" [(ngModel)]="project.content[slide_id].description" placeholder="Slide description" rows="15"></textarea>
        </div>
      </div>
      <div class="form-group row" *ngIf="project.content && project.content[slide_id]">
        <label for="form" class="col-2 col-form-label">Form:</label>
        <div class="col-10">
          <textarea class="form-control" id="form" name="form" [(ngModel)]="project.content[slide_id].form" placeholder="Slide form" rows="15"></textarea>
        </div>
      </div>
      <div class="form-group row" *ngIf="project.content && project.content[slide_id]">
        <label for="note" class="col-2 col-form-label">Note:</label>
        <div class="col-10">
          <textarea class="form-control" id="note" name="note" [(ngModel)]="project.content[slide_id].note" placeholder="Slide note" rows="15"></textarea>
        </div>
      </div>
      <button class="btn btn-primary" [disabled]="!form.form.valid" (click)="editProject(project)"><i class="fa fa-floppy-o"></i> {{ project._id ? "Save" : "Add" }}</button>
    </form>
  </div>
</div>
